<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" id="btn_modal_categorias" data-toggle="modal" data-target="#modal-categorias">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="modal-categorias" tabindex="-1" role="dialog" aria-labelledby="modalCategoriasLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-categorias-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-categorias modal-body" id="modal-body-categorias">
         
      </div>
      <div class="modal-footer" id="modal-footer-categorias">
        <button type="button" class="btn btn-secondary" id="btn_modal_categorias_closed" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>